@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0%;
  padding: 0%;
  background-color: #2b2922;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}
html{
  font-size: 62.2%;

}
.navbar {
  width: 90%;
  margin: 0% auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  filter: invert();
  width: 70%;
}
.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  list-style: none;
}
.navlist > li > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.8rem;
}
.navbtn {
  color: #685e2c;
  background-color: transparent;
  padding: 0.8rem 2rem;
  border: 2px solid #685e2c;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-head {
  width: 90%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-head > h1 {
  width: 50%;
  font-size: 6rem;
}
.hero-head > p {
  width: 40%;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 200;
}
.hero-image {
  width: 100%;
  height: 70vh;
  background-image: url("./images/pexels-ekaterina-bolovtsova-6077326.jpg");
  z-index: 200;
  background-position: center;
  background-size: cover;
}
.hero-footer {
  display: flex;
  align-self: flex-end;
}
.left-btn {
  width: 10rem;
  height: 9rem;
  background-color: #39372d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-btn {
  width: 10rem;
  height: 9rem;
  background-color: #a08f36;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-footer > div > i {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
